mat-toolbar{
  /* background: linear-gradient(to right, #ffffff, #2010ff); */
  background: rgb(241, 241, 241);
 height: 50px;

  position: fixed;
  z-index: 100;


}
body :hover{
  background: rgba(255, 224, 175, 0.335);
} 