mat-toolbar{
  /* background: linear-gradient(to right, #ffffff, #2010ff); */
  background: rgba(241, 241, 241, 0.335);
 height: 50px;

}
mat-toolbar :hover{
  background: rgba(102, 186, 255, 0.335);
}