<div class="container bg-light">
  <div class="row">
    <div class="col-md-6">
      <img
        src="../../../../assets/images/Startup_Monochromatic.svg"
        alt="welcome"
      />
    </div>
    <div class="col-md-2">
      <img src="../../../../assets/images/Money.svg" alt="welcome" />
    </div>
  </div>
  <hr />
  <div class="row" style="padding-bottom: 30px">
    <div class="col-md-12">
      Hi everyone. it's Ali. <br />
      I strongly like to build web pages . this one is for myself . <br />
      hope you enjoy using my personal website . you can check all my projects
      and know more about me.
    </div>
  </div>
  <hr id="intro" />
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Visit Online Shop Project</mat-card-title>
          <mat-card-subtitle><br /></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../../assets/images/Shopping_Monochromatic.svg"
          class="card-img"
          alt="computer"
        />
        <!-- <mat-card-content>
            <p>
              calculate USD$ and IRT 
            </p>
          </mat-card-content> -->
        <mat-card-actions>
          <button class="btn btn-primary" (click)="goMain()">let's go</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>about me</mat-card-title>
          <mat-card-subtitle><br /></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../../assets/images/me.svg"
          class="card-img"
          alt="me"
        />
        <!-- <mat-card-content>
            <p>
              calculate USD$ and IRT 
            </p>
          </mat-card-content> -->
        <mat-card-actions>
          <button class="btn btn-primary">Comming Soon ...</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>web development</mat-card-title>
          <mat-card-subtitle><br /></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../../../assets/images/Web.svg"
          class="card-img"
          alt="web"
        />
        <!-- <mat-card-content>
            <p>
              calculate USD$ and IRT 
            </p>
          </mat-card-content> -->
        <mat-card-actions>
          <button class="btn btn-primary">Comming Soon ...</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
